<div style="text-align:center;">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button (click)="Listar()" class="btn btn-primary botones">Listar Usuarios</button>
      <button (click)="Nuevo()" class="btn btn-primary botones" style="margin-left:10px;">Crear Usuario</button>
      <button (click)="NuevaArea()" class="btn btn-primary botones" style="margin-left:10px;">Crear Area</button>
      <button (click)="ListarArea()" class="btn btn-primary botones" style="margin-left:10px;">Listar Area</button>

    </form>
  </nav>

  <h1 class="titulo">
    Aplicacion control usuarios
  </h1>
</div>
<div class="container" style="text-align:center;">


</div>
<router-outlet></router-outlet>
